<!-- The Modal -->
<div class="modal" id="products_popup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create Products</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>     
      <div class="modal-body">
        <%= render :partial=>"products/form/form" %>
      </div> 
    </div>
  </div>
</div>





